.card_user {
    position: fixed;
    right: 0;
    margin: 8px;
    //float: right;
    width: 200px;
    height: auto;
    padding: 8px;
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 8px;
    z-index: 1;

    .avatar {
        width: 100%;
        height: auto;
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin: 0 auto;
            border-radius: 50%;
            border: 4px solid #ddd;
        }
    }

    .contents {
        width: 100%;
        height: auto;
        text-align: center;

        button {
            margin-top: 18px;
        }
    }
}

.card_session {
    width: 100%;
    height: auto;
    padding: 8px;
    border-radius: 10px;
    margin-top: 12px;
}

.card1, .card2 {
    width: 100%;
    height: auto;
    min-height: 195px;
    color: #FFF;
    padding: 10%;
    border-radius: 10px;
    margin-top: 12px;

    .avatar {
        width: 100%;
        height: auto;
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin: 0 auto;
            border: 4px solid #ddd;
        }
    }

    h4,
    p {
        width: 100%;
        text-align: center;
    }
}

.card1 {
    background-color: #00AA67;
}

.card2 {
    background-color: #F06D24;
}