.field_text_num {
    width: 100%;
    height: max-content;
    margin-bottom: 20px;

    label {
        font-size: 16;
        font-weight: 600;
        width: 100%;
        font-size: 1em;
    }

    input {
        appearance: none;
        border: 1px solid #C4C4C4;
        line-height: 0;
        font-size: 14px;
        width: 100%;
        padding: 12px 16px;
        border-radius: 60px;
        color: #141212;
        font-weight: 300;
        letter-spacing: 0.01em;
        background-color: none;
        margin-top: 12px;

        &:focus {
            //color: #F06D24;
            background: #F2F2F2;
            outline: solid 1px rgb(255, 255, 255);
        }
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    input[type="date"] {
        appearance: none;
        font-size: 14px;
    }

    .helptext {
        font-size: 12px !important;
        font-weight: 500;
        width: 100%;
        font-size: 1em;
        margin-bottom: 12px;
        color: #D80000;
    }

    .cta {
        font-size: 12px !important;
        font-weight: 600;
        font-size: 1em;
        margin: 8px 12px 20px;
        float: right;

        a {
            color: #20ADE4 !important;
        }
    }
}

.field_date {
    width: 100%;
    height: max-content;
    margin-bottom: 20px;

    label {
        font-size: 16;
        font-weight: 600;
        width: 100%;
        font-size: 1em;
    }

    input[type="date"] {
        margin-top: 12px;
        appearance: none;
        font-size: 14px;
        border: 1px solid #C4C4C4;
        background-color: none;
        padding: 12px 16px;
        display: inline-block;
        visibility: visible;
        width: 100%;
        border-radius: 60px;
        font-family: 'Montserrat', sans-serif;

        &:focus {
            //color: #F06D24;
            background: #F2F2F2;
            outline: solid 1px rgb(255, 255, 255);
        }
    }
}