.single {
    padding: 12px 16px;
    background-color: #fff;
    display: block;
    margin: 20px 10px;
    border-left: 8px solid #FFF;

    &:hover{
        border-left: 8px solid #4979ff;
        cursor: pointer;
    }
}