nav {
    margin: 10px auto 80px;
    padding: 10px 0;
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 1px solid #ddd;
    background-color: aquamarine;

    .logo{
        margin-left: auto;
    }

    a {
        margin-left: 12px;
        background-color: bisque;
    }
}