@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.content {
  height: 100%;
  background-color: #F3F4F9;
}
.content a {
  color: #333;
  text-decoration: none;
}

.login {
  width: 100%;
  height: 100vh;
  max-width: 600;
  margin: 0 auto;
  background-color: #FFF;
}
.login .form {
  float: left;
  padding: 16px;
  width: 50%;
  height: 100vh;
  background-color: #FFF;
}
.login .form .logo {
  float: right;
}
.login .form h1 {
  margin-top: 10%;
}
.login .form h6 {
  margin: 16px 0 30px;
}
.login .form button {
  width: 100%;
  margin-bottom: 21px;
  padding: 0.9em 2em;
}
.login .form .social_profile {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.login .form .social_icons {
  width: max-content;
  height: 48px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.login .form .social_icons .icon_social {
  float: left;
  margin: 0 8px;
}
.login .form .social_icons .icon_social img {
  cursor: pointer;
}
.login .form .have_account {
  clear: both;
  text-align: center;
}
.login .form .have_account span {
  color: #20ADE4;
  font-weight: 500;
  cursor: pointer;
}
.login .login_up {
  float: left;
  width: 50%;
  height: 100%;
}
@media only screen and (max-width: 799px) {
  .login .login_up {
    display: none;
  }
  .login .form {
    justify-self: center;
    width: 100%;
  }
}

.header {
  padding: 0 8px;
  border-bottom: 1px solid #ddd;
  display: grid;
  grid-template-columns: 52px auto max-content max-content 24px;
  grid-template-rows: 52px;
  gap: 0 8px;
  grid-template-areas: "logo navs cta lng menu";
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
}
.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: logo;
}
.header .logo:hover {
  cursor: pointer;
}
.header .navs {
  margin: 10px 8px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-area: navs;
}
.header .navs a {
  color: #7c7c7c;
  margin-left: 12px;
}
.header .navs a:hover {
  color: #F06D24;
  text-decoration: underline;
  text-underline-offset: 8px;
}
.header .navs img {
  float: right;
}
.header .cta {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: cta;
}
.header .cta img {
  border-radius: 50%;
  border: 2px solid #ddd;
}
.header .cta img:hover {
  cursor: pointer;
  border: 2px solid #F06D24;
}
.header .lng {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  color: #7c7c7c;
  grid-area: lng;
}
.header .lng:hover {
  cursor: pointer;
  color: #F06D24;
  text-decoration: underline;
  text-underline-offset: 8px;
}
.header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: menu;
}
@media only screen and (max-width: 700px) {
  .header nav {
    justify-content: flex-end;
    align-items: center;
  }
  .header nav a {
    display: none !important;
  }
}

@media only screen and (min-width: 701px) {
  .header {
    grid-template-columns: 52px auto max-content max-content;
    grid-template-areas: "logo navs cta lng";
  }
  .header .menu {
    display: none !important;
  }
}
footer {
  clear: both;
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
  font-size: 0.8em;
  background-color: #F5F5F5;
}
footer .bottom {
  padding: 12px 0;
  color: #FFF;
  background-color: #000;
}

.single {
  padding: 12px 16px;
  background-color: #fff;
  display: block;
  margin: 20px 10px;
  border-left: 8px solid #FFF;
}
.single:hover {
  border-left: 8px solid #4979ff;
  cursor: pointer;
}

button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: white;
  background-color: #F06D24;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
button:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 20px;
}
button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F06D24;
  left: 0;
  top: 0;
  border-radius: 20px;
}

@keyframes button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.card_user {
  position: fixed;
  right: 0;
  margin: 8px;
  width: 200px;
  height: auto;
  padding: 8px;
  background-color: #FFF;
  border: 1px solid #ddd;
  border-radius: 8px;
  z-index: 1;
}
.card_user .avatar {
  width: 100%;
  height: auto;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_user .avatar img {
  margin: 0 auto;
  border-radius: 50%;
  border: 4px solid #ddd;
}
.card_user .contents {
  width: 100%;
  height: auto;
  text-align: center;
}
.card_user .contents button {
  margin-top: 18px;
}

.card_session {
  width: 100%;
  height: auto;
  padding: 8px;
  border-radius: 10px;
  margin-top: 12px;
}

.card1, .card2 {
  width: 100%;
  height: auto;
  min-height: 195px;
  color: #FFF;
  padding: 10%;
  border-radius: 10px;
  margin-top: 12px;
}
.card1 .avatar, .card2 .avatar {
  width: 100%;
  height: auto;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card1 .avatar img, .card2 .avatar img {
  margin: 0 auto;
  border: 4px solid #ddd;
}
.card1 h4,
.card1 p, .card2 h4,
.card2 p {
  width: 100%;
  text-align: center;
}

.card1 {
  background-color: #00AA67;
}

.card2 {
  background-color: #F06D24;
}

.field_text_num {
  width: 100%;
  height: max-content;
  margin-bottom: 20px;
}
.field_text_num label {
  font-size: 16;
  font-weight: 600;
  width: 100%;
  font-size: 1em;
}
.field_text_num input {
  appearance: none;
  border: 1px solid #C4C4C4;
  line-height: 0;
  font-size: 14px;
  width: 100%;
  padding: 12px 16px;
  border-radius: 60px;
  color: #141212;
  font-weight: 300;
  letter-spacing: 0.01em;
  background-color: none;
  margin-top: 12px;
}
.field_text_num input:focus {
  background: #F2F2F2;
  outline: solid 1px white;
}
.field_text_num input[type=number]::-webkit-inner-spin-button,
.field_text_num input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.field_text_num input[type=date] {
  appearance: none;
  font-size: 14px;
}
.field_text_num .helptext {
  font-size: 12px !important;
  font-weight: 500;
  width: 100%;
  font-size: 1em;
  margin-bottom: 12px;
  color: #D80000;
}
.field_text_num .cta {
  font-size: 12px !important;
  font-weight: 600;
  font-size: 1em;
  margin: 8px 12px 20px;
  float: right;
}
.field_text_num .cta a {
  color: #20ADE4 !important;
}

.field_date {
  width: 100%;
  height: max-content;
  margin-bottom: 20px;
}
.field_date label {
  font-size: 16;
  font-weight: 600;
  width: 100%;
  font-size: 1em;
}
.field_date input[type=date] {
  margin-top: 12px;
  appearance: none;
  font-size: 14px;
  border: 1px solid #C4C4C4;
  background-color: none;
  padding: 12px 16px;
  display: inline-block;
  visibility: visible;
  width: 100%;
  border-radius: 60px;
  font-family: "Montserrat", sans-serif;
}
.field_date input[type=date]:focus {
  background: #F2F2F2;
  outline: solid 1px white;
}

.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  color: #EF6C23;
}
.slides::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.slides::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 2px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 50vh;
  margin-right: 50px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}
.slides img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: #F3F4F9;
  color: #333;
}

.not-found {
  text-align: center;
  line-height: 3em;
}
.not-found a {
  color: #4979ff;
  text-decoration: underline;
}

.twocols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  gap: 8px 8px;
  grid-auto-flow: row;
  grid-template-areas: "title title" "lft rgt" "des des";
  padding: 70px 10% 0;
  background-color: #FEFEFE;
}
.twocols .title {
  grid-area: title;
}
.twocols .lft {
  grid-area: lft;
}
.twocols .rgt {
  grid-area: rgt;
}
.twocols .des {
  grid-area: des;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
  gap: 8px 16px;
  grid-auto-flow: row;
  grid-template-areas: "title title title" "col1 col2 col3";
  padding: 16px;
  background-color: #FEFEFE;
  width: auto;
  margin: 0 auto;
}
.twocols .des .title {
  margin-top: 50px;
  padding: 0 10%;
  grid-area: title;
}
.twocols .des .title h2 {
  text-align: center;
}
.twocols .des .col1 {
  margin-top: 50px;
  text-align: center;
  border-top: 3px solid #EF6C23;
  padding: 20% 0;
  background: #FFFFFF;
  box-shadow: 0px 10px 16px rgba(239, 108, 35, 0.15);
  border-radius: 0px 0px 16px 16px;
  grid-area: col1;
}
.twocols .des .col1 .l1 {
  color: #EF6C23;
  font-size: 5vw;
  font-weight: 600;
  margin: 0 2%;
}
.twocols .des .col1 .l2 {
  font-weight: 600;
  font-size: 14px;
}
.twocols .des .col1 .l3 {
  font-size: 12px;
}
.twocols .des .col2 {
  margin-top: 50px;
  text-align: center;
  border-top: 3px solid #EF6C23;
  padding: 20% 0;
  background: #FFFFFF;
  box-shadow: 0px 10px 16px rgba(239, 108, 35, 0.15);
  border-radius: 0px 0px 16px 16px;
  grid-area: col2;
}
.twocols .des .col2 .l1 {
  color: #EF6C23;
  font-size: 5vw;
  font-weight: 600;
}
.twocols .des .col2 .l2 {
  font-size: 14px;
  font-weight: 600;
}
.twocols .des .col2 .l3 {
  font-size: 12px;
}
.twocols .des .col3 {
  margin-top: 50px;
  text-align: center;
  border-top: 3px solid #EF6C23;
  padding: 20% 0;
  background: #FFFFFF;
  box-shadow: 0px 10px 16px rgba(239, 108, 35, 0.15);
  border-radius: 0px 0px 16px 16px;
  grid-area: col3;
}
.twocols .des .col3 .l1 {
  color: #EF6C23;
  font-size: 5vw;
  font-weight: 600;
}
.twocols .des .col3 .l2 {
  font-weight: 600;
  font-size: 14px;
}
.twocols .des .col3 .l3 {
  font-size: 12px;
}

/*# sourceMappingURL=globals.css.map */
